/*
    1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  height: 100svh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: hsl(0, 0%, 100%);
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* LIGHT MODE */
/* DARK MODE */
/* BREAKPOINTS */
/* PADDINGS */
.logo-container .logo {
  font-family: "Dosis", serif;
  font-weight: 800;
}

.nav-links a, .aside__links a {
  color: hsl(237, 88%, 10%);
  font-family: "Dosis", serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: clamp(1.2rem, 1.5vw, 5rem);
}

header {
  padding: clamp(1rem, 2vw, 2rem) 3rem;
}
header section {
  padding-top: 10rem;
}

.introduction h1 {
  font-family: "Dosis", serif;
  font-weight: 800;
  font-size: clamp(3rem, 10vw, 5rem);
  text-transform: uppercase;
  -webkit-text-stroke: 3px hsl(237, 88%, 10%);
  color: transparent;
}
.introduction h1 span {
  -webkit-text-stroke: transparent;
  color: hsl(228, 70%, 50%);
}
.introduction p {
  font-family: "Chivo", serif;
  font-size: clamp(1.3rem, 4vw, 2rem);
}

nav {
  position: relative;
}

/* NAVIGATION */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  text-decoration: none;
}
.logo-container .logo {
  color: hsl(237, 88%, 10%);
  font-size: clamp(2rem, 3vw, 10rem);
}
.logo-container .logo span {
  color: hsl(228, 70%, 50%);
}

.nav-links {
  display: none;
}
@media (min-width: 800px) {
  .nav-links {
    display: flex;
    justify-content: space-evenly;
  }
}
.nav-links li {
  list-style: none;
  margin-left: 3rem;
}
.aside {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  display: none;
  width: 100%;
}
.aside__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
  gap: 3rem;
}
.aside__links li {
  list-style: none;
}
@keyframes slidein {
  from {
    height: 0;
  }
  to {
    height: 30rem;
  }
}
.aside.show {
  display: block;
}

@media (min-width: 800px) {
  aside {
    display: none;
  }
}
.toggle {
  background-color: transparent;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.hamburger-menu .line {
  width: 100%;
  height: 4px;
  background-color: hsl(237, 88%, 10%);
  transition: 300ms ease-in-out;
}
.hamburger-menu.active .line:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: 10% 50%;
}
.hamburger-menu.active .line:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.active .line:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: 10% 50%;
}
@media (min-width: 800px) {
  .hamburger-menu {
    display: none;
  }
}