/*
    1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  height: 100svh;
  line-height: 1;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-color: hsl(0, 0%, 100%);
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* LIGHT MODE */
/* DARK MODE */
/* BREAKPOINTS */
/* PADDINGS */
/* FONT SIZES */
.skills h2, .aboutme article h2, .logo-container .logo, .introduction h1 {
  font-family: "Dosis", sans-serif;
  font-weight: 800;
}

.skills h3, .aboutme article h3 {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
}

.introduction button {
  font-family: "Chivo", sans-serif;
  font-weight: 500;
}

.aboutme article p, .introduction p {
  font-family: "Chivo", sans-serif;
  font-weight: 400;
}

.nav-links a, .aside__links a {
  color: hsl(237, 88%, 10%);
  font-family: "Dosis", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: clamp(1.2rem, 1vw, 1.5rem);
}

.introduction button {
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-color: hsl(228, 70%, 50%);
  border: transparent;
  padding: 1rem 0;
  text-align: center;
  width: clamp(10rem, 20vw, 10rem);
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
}

header {
  padding: 1rem 2rem 4rem;
}
header section {
  margin-top: 3rem;
}

.introduction {
  display: flex;
  flex-direction: column;
}
.introduction h1 {
  font-size: clamp(3rem, 2vw, 4rem);
  text-transform: uppercase;
  -webkit-text-stroke: 3px hsl(237, 88%, 10%);
  color: transparent;
  line-height: 1.2;
  margin: 10rem 0 1rem;
  letter-spacing: 2px;
}
.introduction h1 span {
  -webkit-text-stroke: transparent;
  color: hsl(237, 88%, 10%);
}
.introduction p {
  font-size: clamp(1.3rem, 2vw, 2rem);
  margin: 0 0 2rem;
  text-align: left;
}
nav {
  position: relative;
}

/* NAVIGATION */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  text-decoration: none;
}
.logo-container .logo {
  color: hsl(237, 88%, 10%);
  font-size: clamp(2rem, 2vw, 4.5rem);
}
.logo-container .logo span {
  color: hsl(228, 70%, 50%);
}

.nav-links {
  display: none;
}
@media (min-width: 800px) {
  .nav-links {
    display: flex;
    justify-content: space-evenly;
  }
}
.nav-links li {
  list-style: none;
  margin-left: 2rem;
}
.aside {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  display: none;
  width: 100%;
}
.aside__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 4.5rem 2rem 1.5rem;
  gap: 3.5rem;
}
.aside__links li {
  list-style: none;
}
.aside.show {
  display: block;
}

@media (min-width: 800px) {
  aside {
    display: none;
  }
}
.toggle {
  background-color: transparent;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.hamburger-menu .line {
  width: 100%;
  height: 4px;
  background-color: hsl(237, 88%, 10%);
  transition: 200ms ease-in-out;
}
.hamburger-menu.active .line:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: 10% 50%;
}
.hamburger-menu.active .line:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.active .line:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: 10% 50%;
}
@media (min-width: 800px) {
  .hamburger-menu {
    display: none;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 5rem;
}

.aboutme {
  display: flex;
  flex-direction: column;
  padding-block: 5rem;
  gap: 2rem;
}
.aboutme__img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 50%;
}
.aboutme__img img {
  background-color: hsl(228, 70%, 50%);
  max-width: 80%;
  border-radius: 50%;
}
@media (min-width: 800px) {
  .aboutme__img {
    display: block;
  }
}
.aboutme article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex: 50%;
}
.aboutme article h2 {
  text-transform: uppercase;
  color: hsl(228, 70%, 50%);
  font-size: 2rem;
}
.aboutme article h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
}
.aboutme article p {
  font-size: 1.2rem;
  text-align: justify;
}
@media (min-width: 800px) {
  .aboutme {
    flex-direction: row;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skills h2 {
  text-transform: uppercase;
  color: hsl(228, 70%, 50%);
  font-size: 2rem;
}
.skills h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
}