* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  background-color: black;
  color: white;
}

:root {
  --base-color: #434BE7;
}

.homepage {
  padding: 0 3rem;
}

/* Heading of the website */
#my_header {
  /* padding-top: 1rem; */
  margin: 1rem 0;
  display: block;
  /* border: 1px solid red; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  height: 2.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  /* border: 1px dashed blue; */
}

nav li {
  list-style: none;
  padding: 1rem;
  font-weight: 500;
  font-size: 1rem;
  width: fit-content;
}

nav li:hover {
  background-color: var(--base-color);
  cursor: pointer;
}

/* Homepage of the website */
span {
  color: var(--base-color);
}


#profile_pic {
  width: 20rem;
}

/* media queries */

@media screen and (max-width: 800px) {
  #nav_links {
    display: none;
  }
}