* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
  background-color: black;
  color: white;
}

:root {
  --base-color: #434BE7;
}

.homepage {
  padding: 0 3rem;
  height: 100vh;
  /* border: 0.5px solid blue; */
}

/* Heading of the website */
#my_header {
  /* padding-top: 1rem; */
  margin: 1rem 0;
  display: block;
  height: fit-content;
  /* border: 1px solid red; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo #design {
  height: 0.5rem;
  width: 2.2rem;
  background-color: var(--base-color);
  animation: line .8s linear -1ms;
  overflow: hidden;
}

#logo h1 {
  font-family: Montserrat;
  color: var(--base-color);
  overflow: hidden;
  /* transition: 2s; */
  /* animation: type 3s 1ms; */
  white-space: nowrap;
  width: fit-content;
}

#nav_links {
  width: fit-content;
}

nav {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav li {
  /* flex: 0; */
  list-style: none;
  padding: 1rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  width: 5rem;
  text-align: center;
  /* border: 1px dashed blue; */
}

/* MENU */
#menu {
  display: none;
}

#first, #second, #third {
  background-color: var(--base-color);
  width: 40px;
  margin: 7px 0;
  height: 3px;
  transition: .5s;
}

.change #first {
  transform: translate(0, 10px) rotate(-45deg);
}

.change #second {
  opacity: 0;
}

.change #third {
  transform: translate(0, -10px) rotate(45deg);
}

/* transition a line under the nav items */
nav li::after {
  display: flex;
  content: '';
  width: 0rem;
  height: .4rem;
  transition: all 1s ease;
}

nav li:hover::after {
  cursor: pointer;
  width: 100%;
  background-color: var(--base-color);
}

nav li a {
  text-decoration: none;
  color: white;
}


/* Intro of the website */
#my_intro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
  height: fit-content;
  width: inherit;
  margin-top: 5rem;
}

#introduction {
  margin: 1rem;
  /* border: 1px solid red; */
  width: fit-content;
  height: fit-content;
  /* transition: all 2s ease-in-out; */
}

#introduction h1 {
  font-size: 3rem;
}

#introduction h2 {
  font-size: 2rem;
}

span {
  color: var(--base-color);
}

#profile_pic {
  width: 25rem;
}

#profile_pic_bg {
  display: flex;
  /* border: 1px solid red; */
  margin: 1rem;
  justify-content: center;
  align-items: center;
  background-color: var(--base-color);
  border-radius: 11rem 19rem;
  /* transition: all 1s ease-in; */
}

/* Socials */
#socials {
  margin-top: 1rem;
}

#socials ul {
  display: flex;
  justify-content: flex-start;
}

#socials ul li {
  list-style: none;
  padding-right: 1rem;
}

#socials ul li a svg:hover {
  stroke: var(--base-color);
}

/* About Me Section */
#about_section {
  margin: 1rem 0;
  padding: 0 1rem;
  border-radius: 12rem 6rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#about_section h1 {
  color: var(--base-color);
}

#about_section p {
  text-align: center;
  color: black;
}

/* media queries */
@media screen and (max-width: 900px) {
  #nav_links {
    display: none;
  }
  #menu {
    display: block;
    cursor: pointer;
  }
  #profile_pic {
    width: 50vw;
  }
}

@media screen and (max-width: 700px) {
  #my_intro {
    flex-direction: column;
  }

  #introduction h1 {
    font-size: 2rem;
  }

  #introduction h2 {
    font-size: 1.5rem;
  }
}

/* Transitions */
/* for the logo line */
@keyframes line {
  from {
    width: 0rem;
  }

  to {
    width: 2.2rem;
  }
}

/* to type out words */
@keyframes type {
  from {
    width: 0;
  }
  /* to {width: 100%;} */
}