@use '../abstracts/' as *;
@use '../base/' as *;

main {
    @include flex-layout(5rem);
    padding: $horizontal-pad;
}

.aboutme {
    @include flex-layout(2rem);
    padding-block: 5rem;

    &__img {
        // position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 50%;

        img {
            background-color: $primary-color;
            max-width: 80%;
            border-radius: 50%;
        }

        @media (min-width: $min-width) {
            display: block;
            ;
        }
    }

    article {
        @include flex-layout(1rem);
        flex: 50%;

        h2 {
            @include main-heading;
        }

        h3 {
            @include sub-heading;
        }

        p {
            @include paragraph(1.2rem);
            text-align: justify;
        }
    }

    @media (min-width: $min-width) {
        flex-direction: row;
    }
}