@use '../abstracts/' as *;
@use '../base/' as *;

main {
    @include flex-layout;
    padding: $horizontal-pad;
    gap: 5rem;
}

.aboutme {
    display: flex;
    flex-direction: column;
    padding-block: 5rem;
    gap: 2rem;

    &__img {
        // position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 50%;

        img {
            background-color: $accent-color;
            max-width: 80%;
            border-radius: 50%;
        }

        @media (min-width: $min-width) {
            display: block;
            ;
        }
    }

    article {
        @include flex-layout;
        gap: 1rem;
        flex: 50%;

        h2 {
            @include main-heading;
        }

        h3 {
            @include sub-heading;
        }

        p {
            @extend %paragraphs;
            font-size: 1.2rem;
            text-align: justify;
        }
    }

    @media (min-width: $min-width) {
        flex-direction: row;
    }
}