@use '../abstracts/' as *;
@use '../base/' as *;
@use '../components/buttons' as *;

header {
    padding: $nav-vertical-pad $nav-horizontal-pad;

    section {
        padding-top: 6rem;
    }
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h1 {
        @extend %headings;
        font-size: clamp(3rem, calc(5 / 50 * 100vw), 5rem);
        text-transform: uppercase;
        -webkit-text-stroke: 3px $text-color;
        color: transparent;
        line-height: 1.2;

        span {
            -webkit-text-stroke: transparent;
            color: $accent-color;
        }
    }

    p {
        @extend %paragraphs;
        font-size: clamp(1.3rem, calc(2/50 * 100vw), 2rem);
    }
}