@use '../abstracts/' as *;
@use '../base/' as *;

.container {
    margin: 0 auto;
    max-width: 1300px;
}

header {
    padding: 1rem $horizontal-pad 4rem;

    section {
        margin-top: 3rem;
    }
}

.introduction {
    display: flex;
    flex-direction: column;

    h1 {
        @extend %headings;
        font-size: clamp(3rem, 2vw, 4rem);
        text-transform: uppercase;
        -webkit-text-stroke: 1.5px $text-color;
        color: transparent;
        line-height: 1.2;
        margin: 10rem 0 1rem;
        letter-spacing: 2px;

        span {
            -webkit-text-stroke: transparent;
            color: $text-color;
        }
    }

    p {
        @include paragraph(clamp(1.3rem, 2vw, 2rem));
        margin: 0 0 2rem;
        text-align: left;
    }

    button {
        @extend %call-to-action;
    }
}