@use '../base/' as *;
@use './variables' as *;

%headings {
    font-family: $ff-headings;
    font-weight: 800;
}

%sub-headings {
    font-family: $ff-headings;
    font-weight: 700;
}

%paragraphs {
    font-family: $ff-paragraphs;
    font-weight: 400;
}

%nav-links {
    color: $text-color;
    font-family: $ff-headings;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $nav-links-size;
}