@use './variables' as *;
@use '../base/' as *;

@mixin main-heading {
    text-transform: uppercase;
    @extend %headings;
    color: $primary-color;
    font-size: 2rem;
}

@mixin sub-heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    @extend %sub-headings;
}

@mixin paragraph($font-size) {
    font-family: $ff-paragraphs;
    font-weight: 400;
    color: $text-color;
    font-size: $font-size;
}

@mixin flex-layout($gap) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $gap;
}